.navbar {
    text-transform: uppercase;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: .5rem;
}

.navbar ul li a {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    /* disable link underlines from tufte.css */
    background: none;
}

article {
    padding: 0;
}

footer hr {
    margin: 0.5rem 0;
}

.git-tag {
    display: flex;
    color: #888888;
    justify-content: flex-end;
    font-size: .75rem;
    width: 55%;
}
